@import url(./index.css);
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
.animated-button {
  position: relative;
  display: inline-block;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.button-text {
  position: relative;
  z-index: 2;
}

.button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transform-origin: 100% 0;
  transition: height 0.3s ease-in-out;
}

.animated-button:hover .button-overlay {
  height: 100%;
}

.mapContainer {
  flex: 1;
  position: relative;
}

.map {
  height: 100%;
}